header{
    height: 100vh;
    padding-top: 3rem;
    overflow: hidden;
}

.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}

/* --------------------CTA------------------ */
.cta{
    margin-top: 2.5rem;
    
    display: flex;
    justify-content: center;
    gap: 1rem;
}

/* -----------------------socials------------------------ */
.header__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    left:0;
    bottom: 15rem;
    position: absolute;
}
.header__socials::after{
    content: '';
    height: 2rem;
    width: 0.8px;
    background-color: var(--color-primary);
}

/* -----------------------img------------------------ */

.me{
    background:linear-gradient(var(--color-primary),transparent);
    height: 30rem;
    width: 20rem;
    position: absolute;
    left: calc(54% - 11rem);
    /* left:36%; */
    margin-top: 4rem;
    
    border-radius: 9rem 9rem 0 0;
    overflow: hidden;
    padding: 3rem 1.5rem 1.5rem 1.5rem;
}

.myImg{
    border-radius: 4rem;
    margin-bottom: 1rem;
}

/* -----------------------scrool------------------------ */
.scrool__down{
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/*----------------------------Media Queries--------------------*/
@media screen and (max-width:600px){
    header{
        height: 100vh;
    }
    .header__socials,.scrool__down{
        display:none;
    }
}